html, body {
  margin: 0;
}

header {
  background-color: var(--color-primary);
  display: flex;
  position: sticky;
}

#logo {
  height: 50px;
}

nav {

}

main {

}

footer {
  background-color: #ddd;
}
